<!DOCTYPE html>
<html>
<head>
    <title>Задачи</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <main>
        <div class="container">
            <h2 class="form-header">Добавить задачу</h2>
            <form method="post" action="/task" class="form">
                <input type="text" name="name" id="name" class="input-field" placeholder="Введите название задачи">
                <input type="text" name="description" id="description" class="input-field" placeholder="Введите содержание задачи">
                <button class="submit-button" type="submit">Добавить задачу</button>
            </form>
        </div>
        <div class="card-list container">
            {% for task in tasks %}
            <div class="card">
                <h5 class="card-header">{{ task.name }}</h5>
                <p class="card-content">{{ task.description }}</p>
                <a href="/task/{{task['id']}}/delete" class="card-delete">
                    <button>Удалить</button>
                </a>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>